<div class="form-group">
  <label>
    {{label}}
    {{#if required}}
      <abbr>*</abbr>
    {{/if}}
  </label>
  {{#each texts as |text|}}
    <div class="row">
      <div class="col-md-12">
        {{input value=text.value class="form-control" focus-out=(action 'serialize') disabled=disabled}}
      </div>
    </div>
    {{#if (gte texts.length 2)}}
      <button class="btn btn-outline-danger" {{action 'destroyText' text}}>Excluir</button>
    {{/if}}
  {{/each}}
  {{#if error}}
    <div class="invalid-feedback">
      {{error}}
    </div>
  {{/if}}
  {{#if (or (not limit) (lt texts.length limit))}}
    <div class="col-md-12">
      <button {{action 'addText'}} class="btn btn-link"> Adicionar </button>
    </div>
  {{/if}}
</div>
