<div class="form-group">
  <label>
    {{label}}
    {{#if required}}
      <abbr>*</abbr>
    {{/if}}
  </label>
  {{#each phones as |phone|}}
    <div class="row">
      <div class="col-md-{{if whatsapp '9' '12'}}">
        <div class="input-group">
          {{input type="tel" value=phone.number focus-out=(action 'serialize') class="form-control" key-up=(action 'changeMask') focus-out=(action 'onchange')}}
          {{#if (gte phones.length 2)}}
            <span class="input-group-btn">
              <button class="btn btn-outline-secondary" {{action 'destroyPhone' phone}}>x</button>
            </span>
          {{/if}}
        </div>
      </div>
      {{#if whatsapp}}
        <div class="col-md-3">
          {{form-group-toggle
            class="pl-0"
            model=phone
            attr="whatsapp"
            label="WhatsApp?"
            onchange=(action 'serialize')
          }}
        </div>
      {{/if}}
    </div>
  {{/each}}
  {{#if error}}
    <div class="invalid-feedback">
      {{error}}
    </div>
  {{/if}}
  <div class="col-md-12"></div>
  <button {{action 'addPhone'}} class="btn btn-link"> Adicionar Telefone </button>
</div>
