<div class="form-group">
  {{#if label}}
    <label>
      {{label}}
      {{#if required}}
        <abbr>*</abbr>
      {{/if}}
      {{#if help}}
        <abbr class="tip">
          ?
          <p class="m-0 pl-1 pr-1">{{help}}</p>
        </abbr>
      {{/if}}
    </label>
  {{/if}}
  <input
    value={{if locale (get model (concat attr '.' locale)) (get model attr)}}
    class={{concat "form-control " (if error 'is-invalid')}}
    onkeyup={{action 'onchange' value="target.value"}}
    onblur={{action 'onchange' value="target.value"}}
    data-checkout={{get data 'checkout'}}
    disabled={{if disabled 'disabled'}}
    placeholder={{if placeholder placeholder mask}}
    style={{if style style}}
  />
  {{#if error}}
    <div class="invalid-feedback">
      {{error}}
    </div>
  {{/if}}
</div>

<style>
  .tip {
    cursor: pointer;
  }

  .tip p {
    position: absolute;
    top: -15px;
    display: none;
    color: #fff !important;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .tip:hover p {
    display: block;
  }
</style>
