<div class="form-group">
  {{#if label}}
    <label>
      {{label}}
      {{#if required}}
        <abbr>*</abbr>
      {{/if}}
    </label>
  {{/if}}
  {{#debounced-value val=(if locale (get model (concat attr '.' locale)) (get model attr)) wait=500 immediate=false sync=true as |value|}}
    <input
      value=value
      class={{concat "form-control " (if error 'is-invalid')}}
      onblur={{action 'onchange' value="target.value"}}
      data-checkout={{get data 'checkout'}}
      disabled={{if disabled 'disabled'}}
      placeholder={{if placeholder placeholder mask}}
      style={{if style style}}
    />
  {{/debounced-value}}
  {{#if error}}
    <div class="invalid-feedback">
      {{error}}
    </div>
  {{/if}}
</div>
